@media screen and (max-width: 767px) {
  .text-navbar,
  .avt-banner {
    display: none;
  }

  .navbar-container {
    flex-direction: column;
  }

  #navbar a:link,
  a:visited {
    display: block;
    text-align: left;
    padding: 20px 35px 0;
  }

  /* Job Info */
  #job-info .container {
    max-width: 100%;
  }

  /* Certificate */
  .certificate-flex {
    flex-direction: column;
  }

  .certificate-2 {
    border-left: none;
    border-top: 2px solid #d6c08d;
    padding-top: 40px;
  }

  /* Footer */

  .footer-content {
    gap: 5px;
  }

  .footer-container-flex {
    gap: 0;
  }

  .footer-link {
    font-size: 12px;
  }

  .footer-text {
    font-size: 14px;
  }

  /* Project Charter  */
  .number {
    justify-content: start !important;
  }
}
